<!--导航栏开始-->
	<div style="padding-left: 0;padding-right: 0;width:200px;" id="left-nav">	
		<ul id=left-list>
			<li>
				<a href="#show1" data-toggle="collapse">
					<i class="glyphicon glyphicon-leaf"></i>
					文章管理
					<i class="glyphicon glyphicon-chevron-down pull-right" style="margin-right: 15px;margin-top: 15px;"></i>
				</a>
			</li>
					<li id="show1" class="collapse">
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							添加文章
						</a>
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							查看文章
						</a>
					</li>
			<li>
				<a href="#show2" data-toggle="collapse">
					<i class="glyphicon glyphicon-leaf"></i>
					分类管理
					<i class="glyphicon glyphicon-chevron-down pull-right" style="margin-right: 15px;margin-top: 15px;"></i>
				</a>
			</li>	
					<li id="show2" class="collapse">
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							添加分类
						</a>
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							查看分类
						</a>
					</li>	
			<li>
				<a href="#show3" data-toggle="collapse">
					<i class="glyphicon glyphicon-leaf"></i>
					账户管理
					<i class="glyphicon glyphicon-chevron-down pull-right" style="margin-right: 15px;margin-top: 15px;"></i>
				</a>
			</li>	
					<li id="show3" class="collapse">
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							添加账户
						</a>
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							查看账户
						</a>
					</li>
			<!--评论管理开始-->
			<li>
				<a href="#show4" data-toggle="collapse">
					<i class="glyphicon glyphicon-leaf"></i>
					通知管理
					<i class="glyphicon glyphicon-chevron-down pull-right" style="margin-right: 15px;margin-top: 15px;"></i>
				</a>
			</li>	
					<li id="show4" class="collapse">
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							添加通知
						</a>
						<a href="#" data-toggle="collapse" class="collapse c-son">
							<i class="glyphicon glyphicon-flash"></i>
							查看通知
						</a>
					</li>
			<!--评论管理开始-->
			<li>
				<a href="#">
					<i class="glyphicon glyphicon-leaf"></i>
					数据备份
				</a>
			</li>
			<li>
				<a href="#">
					<i class="glyphicon glyphicon-leaf"></i>
					数据还原
				</a>
			</li>
	</div>	
	<!--导航栏开始-->