#left-nav{
	background-color: #212121;
	height:600px;
	border-radius: 2px;
	
}
#left-list{
	list-style: none;
	line-height: 40px;
	padding-left: 0;
	
}
#left-list>li{
	border-radius: 2px;
	padding-left: 0px;
	border-bottom: 1px #575757 solid;
	font-size: 15px;
	
}
#left-list>li>a{
	padding-left:15px;
	color: #BFBFBF;
	display: block;
	text-decoration:none;	
}
#left-list li:hover{
	background-color: #080808;
}
.c-son{
	border-left: 3px #53868B solid;
	padding-left:15px;
	background-color: #555555;
}
.c-son:hover{
	background-color:#00868B;
}
