<div style="text-align:center;margin-bottom:0">
  <p style="font-size:12px;padding-top:5px;color:#939393;margin-bottom:0">备案号:&nbsp;<a  target="_blank" href="http://www.miibeian.gov.cn" style="display:inline-block;text-decoration:none;color:#939393;">津ICP备18007905号-1</a></p>
  <p style="height:20px;line-height:20px;margin-top:3px;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12011102000379" style="display:inline-block;text-decoration:none;color:#939393;"><img src="__STATIC__/pic/gov.png"/>&nbsp;津公网安备 12011102000379号</a></p>
</div>