<!--水平分割线开始-->
<div style="width:100%;height:0;border-bottom:#000000 1px dashed;" class="hidden-xs hidden-sm"></div>
<!--水平分割线开始-->


<div style="margin-left:auto;margin-right:auto;width:800px;">
	<!--评论界面开始-->
	<form action="{:url('index/Index/comment')}" method="post">
	<div style="margin-bottom:15px;width:800px;height:175px;" class="hidden-xs hidden-sm">
		<h3>文章留言( ˘ ³˘)</h3>
		<!--隐藏域开始-->
		<input type="text" name="aid" hidden="hidden" value="{$art.aid}">
		<input type="text" name="level" hidden="hidden" value="0">
		<input type="text" name="pid" hidden="hidden" value="0">
		<input type="text" name="co_time" hidden="hidden" value="{:date('Y-m-d')}">
		<input type="text" name="user" hidden="hidden" value="{$Think.session.name}">
		<!--隐藏域结束-->
		<textarea class="c_comment" name="content" {if condition="$Think.session.name eq null"}readOnly="readOnly"{/if}>请登录后进行评论(最多150字符)</textarea>
		<button class="btn btn-primary" style="float:right;">评论</button>
	</div>
	</form>
	<!--评论界面结束-->
</div>



	<!--评论显示开始-->
	<div class="hidden-xs hidden-sm" style="margin:10px auto;width:800px;">
		
		{notempty name="comment"}
			<h3 class="hidden-xs hidden-sm">评论区</h3>
		{/notempty}

	{volist name="comment" id="vo"}
		{if condition="$vo.level eq 0"}
		<!--主楼评论开始-->
		<div class="comment-list">
			<h4 style="color:#008B8B">{$vo['user']}<small>&emsp;{$vo.co_time}</small></h4>
			<p style="margin-bottom:5px;">
				{$vo.content}
			</p>	
			<span style="margin-left:670px;">
				<span class="has_son" style="cursor:pointer;" value="{$vo.coid}">
					<i class="glyphicon glyphicon-eye-open"></i>&nbsp;隐显&emsp;
				</span>
				<span style="cursor:pointer;" data-toggle="modal" data-target="#son_reply" class="reply_main" value="{$vo.coid}">
					<i class="glyphicon glyphicon-comment"></i>&nbsp;回复
				</span>
			</span>
		</div>
		<!--主楼评论结束-->
		{else/}
		<!--楼中楼开始-->
		<div class="son-{$vo.pid}" style="display:none;">
		<div class="comment-son">
			<span style="color:#00688B;">{$vo.user}</span>：
			{$vo.content}
			<span style="margin-left:725px;">
				<span style="cursor:pointer;" data-toggle="modal" data-target="#son_reply" class="reply" value="{$vo.user}">
					<i class="glyphicon glyphicon-comment" style="color:#636363"></i>&nbsp;回复
				</span>
			</span>
		</div>
		</div>
		<!--楼中楼结束-->
		{/if}
	{/volist}
	</div>	
	<!--评论显示结束-->


<!--模态框开始-->
<form action="{:url('index/Index/comment')}" method="post">
<div class="modal fade" id="son_reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请输入回复信息</h4>
            </div>
            <div class="modal-body">
            	<!--隐藏域开始-->
				<input type="text" name="aid" hidden="hidden" value="{$art.aid}">
				<input type="text" name="level" hidden="hidden" value="1">
				<input type="text" name="pid" hidden="hidden" value="0" id="change_pid">
				<input type="text" name="co_time" hidden="hidden" value="{:date('Y-m-d')}">
				<input type="text" name="user" hidden="hidden" value="{$Think.session.name}">
				<!--隐藏域结束-->
				<textarea class="form-control" rows="3" name="content" id="reply_content"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交评论</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</form>
<!--模态框结束-->