<!--栏目顶部开始-->
	{eq name="top_name" value="doWeb"}
		<div class="c-cate-top hidden-xs">
			<div id="c-cate-top-one">
				<p>1</p><p>2</p><p>3</p>
			</div>
			<div id="c-cate-top-two">
	        	<p>
		        	<span style="color:#FF4040">&lt;</span>?<span style="color:#7B51B2">php</span></br>
		        	&emsp;&emsp;<span style="color:#56D8EF">echo</span><span style="color:#B8860B"> 'The quieter you become,</br>
		        	&emsp;&nbsp;&emsp;&emsp;&nbsp;&emsp;the more you are able to hear.'</span>;
	            </p>
	       	</div>
	    </div>
    {/eq}
    {eq name="top_name" value="inWeb"}
		<div class="c-cate-top hidden-xs">
			<div id="c-cate-top-one">
				<p>1</p><p>2</p><p>3</p>
			</div>
			<div id="c-cate-top-two">
	        	<p>
		        	<span style="color:#FF4040">&lt;</span>?<span style="color:#7B51B2">php</span></br>
		        	&emsp;&emsp;<span style="color:#FF4040">@</span><span style="color:#56D8EF">eval</span>($_POST[
		        	<span style="color:#B8860B">'What you see is just what others want you see.'</span>]);</br>
		        	&nbsp;&nbsp;&nbsp;?<span style="color:#FF4040">&gt;</span>
	            </p>
	       	</div>
	    </div>
    {/eq}
    {eq name="top_name" value="other"}
		<div class="c-cate-top hidden-xs">
			<div id="c-cate-top-one">
				<p>1</p><p>2</p><p>3</p>
			</div>
			<div id="c-cate-top-two">
	        	<p>
		        	#include<span style="color:#FF4040"> &lt;iostream&gt;</span></br>
		        	<span style="color:#7CCD7C">using </span>namespace<span style="color:#56D8EF"> std</span><span style="color:#858585">;</span></br>
		        	int<span style="color:#56D8EF"> main</span><span style="color:#B8860B">(){</span><span>&emsp;&nbsp;&emsp;&emsp;&nbsp;&emsp;后面都不会了&nbsp;&nbsp;︿(￣︶￣)～</span>
	            </p>
	       	</div>
	    </div>
    {/eq}
	<!--栏目顶部结束-->